<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- <script src="lib/phaser-3.53.1/dist/phaser.min.js"></script> -->
  <script type="module" src="build/project.bundle.js"> </script>
  <!-- <script src="js/scenes/RealBase.js"></script> -->
</head>

<body>
  <div id="gameDiv"> hello</div>
  <input id="userInput" type="number"></input>
  
</body>

</html>