<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- <script src="lib/phaser-3.53.1/dist/phaser.min.js"></script> -->
  <script src="lib\phaser.js"></script>
  <script type="module" src="js/mainGame.js"> </script>
  <!-- <script src="js/scenes/RealBase.js"></script> -->
</head>

<body>
</body>

</html>